services:
  - type: web
    name: flutter-one-server
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: starter
    envVars:
      - key: PORT
        value: 8080
    healthCheckPath: /health



